body{
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size: 30px;
    font-weight: 700;
    color: #081c53;
}

p{
    font-size: 18px;
    font-weight: 400;

}

/* banner section  */


.logo{
    position: absolute;
    top: 10px;
    left: 10px;
}

.banner{
    position: relative;
    background-image: url("../images/banner-image.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    /* height: 100vh; */
    background-size: cover;
}

.container{
    width: 1110px;
}
.container-b{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.bancont h1{
    color: #ffffff;
    font-size: 51px;
    font-weight: 800;
    padding-top: 150px;
    text-transform: capitalize;
}

.banpara{
    display: inline-block;
    margin-top: 5px;
    color: #ffffff;
    border-left:solid 2px #3ce4c2;
    margin-bottom: 25px;
    padding-top: 25px;

}

.banpara p{
    font-size: 30px;
    font-weight: 400;
    padding-left: 54px;
}


.banbtn{
    position: relative;

}


.banbtn button{
    display: inline-block;
    width: 418px;
    background-color: #3ce4c2;
    padding: 31px;
    padding-left: 41px;
    margin-bottom: 150px;
    border: hidden;
}

.btntxt{
    color: #081c53;
    font-size: 22px;
    text-align: left;
    font-weight: 700;
}

.arow{
    display: inline;
    position: absolute;
    background-color: #ced2dd;
    width: 87px;
    height: 95px;
    
}

.arow img{
    position: absolute;
    top: 18px;
    width: 60px;
    right: 15px;

}

/* sec section */

.brands{
    margin-top: -10 !important;
    display: flex;
    background-color: #ffffff;
    justify-content: space-around;
   /*  box-shadow: outset; */
   /* box-shadow: 0px,2px,4px,1px; */
}

.brands img{
    padding-top: 70px;
    padding-bottom: 68px;
}

.t-section{
    position: relative;
    padding-bottom: 135px;
}

.txtimgfst {
    margin-top: 91px;
}


.txtimg h1{
    padding-bottom: 30px;
}

.sec-sectimg{
    width: 541px;
    border: 1px solid;
    border: hidden;
    background-color: #ffffff;
}

.sec-sectimg img {
    padding: 18px;
    border: 1px;
}

.outline img{
    padding-left: 52px;
    position: absolute;
    top: 136px;
    z-index: -1;
}

/* third section */

.third-sec{
    background-color: #081d54;


}

.the-title h1{
    padding-top: 127px;
    padding-bottom: 45px;
    text-align: center;
    font-size: 30px; 
    font-weight: 700;
    color: #3ce4c2;

}

.the-title p{
    text-align: center;
    color: #ffffff;
    padding-bottom: 60px;
    font-size: 18px;
    font-weight: 400;
}

 .brand .col-md-3{
    padding: 15px;
}


.s3-btn{
    position: relative;
    text-align: center;

}
.s3-btn button{
    display: inline-block;
    width: 418px;
    background-color: #3ce4c2;
    padding: 31px;
    padding-left: 41px;
    margin-bottom: 150px;
    margin-top: 69px;
    border: hidden;
}

.arow2{
    display: inline;
    position: absolute;
    background-color: #ced2dd;
    width: 87px;
    height: 95px;
    top: 69px;
    
}

.arow2 img{
    position: absolute;
    top: 18px;
    width: 60px;
    right: 15px;

}


/* four section */

.four-sec{
    background-color: #f5f6f8;
}

.four-sec h1{
    padding-top: 96px;
    padding-bottom: 53px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.frimgsec{
    padding-bottom: 100px;
}

.fivecont h1{
    padding-top: 98px;
    text-align: center;
}

.fivecont p{
    text-align: center;
    padding-top: 45px;
    margin-bottom: 0px;

}

.s3-img{
    justify-content: space-around;
    background-color: #ffffff;
    width: 247px;
    height: 140px;
}

.s3-img .sgx {
    padding-top: 50px;
    padding-left: 50px;
}

.s3-img .toyko, .phatra, .hanwha, .ich,.ternary, .rh{
    padding-top: 30px;
    padding-left: 30px;
}

.s3-img .heliconia{
    padding-left: 30px;
    padding-top: 55px;
}

.fiveimgs .col-md-2{
    text-align: center;
    padding: 0px;
    width: 220px;
}

.fiveimgs{
    margin-top: 80px;
    margin-bottom: 110px;
    padding: 0px,20px;
}

.fiveimgs h6{
    padding-top: 25px;
    color: #091c52;
    font-size: 22px;
    font-weight: 700;
}

.green{
    background-color: #3ce4c2;
    padding-bottom: 120px;

}

.green .col-md-6{
    padding: 0px;
}

.green-title h1{
    padding-top: 100px;
    padding-bottom: 45px;
    text-align: center;
}

.green .direct,.direct4{
    margin: 15px;
    padding-left: 19px;
    box-shadow: 0px,0px,10px 0px;
}


.direct,.direct4{
    background-color: #ffffff;
    box-shadow: 0px,0px,10px,10px;
}

.directicon{
    display: inline-block;
    padding-top: 10px;  
    padding-left: 10px;

}

.direct{
    padding-top: 36px;
    padding-bottom: 36px;
}

.direct4{
    padding-top: 36px;
    padding-bottom: 74px;
}

.direct img{
    padding-bottom: 40px;
}

.direct4 img{
    padding-bottom: 40px;
}


.directicon h3 {
    color: #081d54;
    font-size: 26px;
    font-weight: 700px;
}

.hr{
    width: 30px;
    border: 2px solid #3ce4c2;
}

.directicon hr{
    width:30px;
    border: 2px solid #3ce4c2;
}

.direct p{
    text-align: start;
    margin-bottom: 0px;
}

.slider-tit{
    font-size: 30px;
    font-weight: 700;
    color: #081d55;
    text-align: center;
    padding-top: 116px;
}


.slider-dev-img{
    padding-left: 123px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 35px;
}

.slider .row{
    margin-top: 43px;
    margin-bottom: 123px;
}

.slider-dev p{
    padding-top: 18px;

}

.slider h2{
    padding-top: 50px;
    font-size: 24px;
    font-weight: 700;
}

.slider p{
    font-size: 18px;
    font-weight: 300;
}

.slider hr{
    margin: 0px;
    width: 40px;
    border: solid 1px #0c0c0c;
    opacity: 1;
}

.slider{
    position: relative;
}

.sliderhr hr{
    width: 100%;
    border: 2px solid #091c52;

}


.t-section2{
    padding-bottom: 125px;
}

.t-section2 .row{
    position: relative;

}

.t-section2 .txt{
    padding-left: 70px;
}

.txtimgsec {
    margin-top: 91px;
}

.txtimg2 p{
    margin-bottom: 15px;
}

.txtimg2 h1{
    font-size: 26px;
    padding-bottom: 50px;
}

.sec-sectimg2{
    width: 541px;
    border: 1px solid;
    border: hidden;
    background-color: #ffffff;
}

.sec-sectimg2 img {
    padding: 18px;
    border: 1px;
}

.outline2 img{
    padding-left: 0px;
    position: absolute;
    top: 134px;
    left: -28px; 
    z-index: -1;
}

.form{
    background-color: #081d54;
    }
.form .row{
    padding-top: 128px;
    padding-bottom: 150px;
}    

.formltxt h1{
    font-size: 30px;
    color: #3ce4c2;
    font-weight: 700;
    margin-bottom: 30px;
} 

.formltxt p{
    color: #ffffff;
    margin-bottom: 30px;
}
.forms{
    background-color: #ffffff;
    width: 542px;
    height: 378px;
}

.form-floating{
    margin-left: 30px;
    margin-right: 48px;
}

.form-floating input{
    border: hidden;
    border-bottom: 2px solid;
    border-radius: 0px;
    opacity: 0.1;
    padding-top: 38px;
}

.forminp{
    padding-top: 48px;

}

.banbtn2{
    position: relative;
    margin-left: 30px;
    margin-top: 46px;

}


.banbtn2 button{
    display: inline-block;
    width: 376px;
    height:66px;
    background-color: #3ce4c2;
    padding-left: 41px;
    border: hidden;
}


.arow3{
    display: inline;
    position: absolute;
    background-color: #ced2dd;
    width: 87px;
    height: 66px;
    top: 0;
    
}

.arow3 img{
    position: absolute;
    top: 10px;
    width: 49px;
    right: 22px;

}

.form{
    position: relative;
    z-index: 1;
}

.outline3 img{
    padding-left: 55px;
    position: absolute; 
    top: 167px;
    z-index: -1;
}

.fotcon,.fterm{
    font-size: 15px;
    font-weight: 400;
    color: #686868;
}

.fotcon p,.fterm{
    margin-bottom: 0px;
}

